[Unit]
Description=nginx-alpine/mainline with HTTP2 container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start nginx-daemon
ExecStop=/usr/bin/docker stop -t 2 nginx-daemon

[Install]
WantedBy=default.target
